<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/investment.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <div class="centered">
        <h1>Capital</h1>
        <hr>
        <div class="investment__amount">Start Capital: $ <%= startup %></div>
        <hr>
        <div class="investment__amount">Total Amount: $ <%= allCapital %></div>
        <div class="centered__margin">
            <form action="/admin/withdraw-capital" method="post">
                <button class="btn danger" type="submit">Withdraw capital</button>
                <input type="number" name="amount" id="amount" step="0.01" value="">
            </form>
        </div>
    </div>

</main>
</body>

</html>